<div class="container">
  <div ng-if="!myInfoCtrl.myinfo.personalData.fname" class="alert alert-danger text-center">
    Not Signed Up Yet. <a ui-sref="public.signup" class="alert-link">Sign up Now!</a>
  </div>
  <div ng-if="myInfoCtrl.myinfo.personalData.fname">
    <div class="page-header">
      <h1>User information</h1>
    </div>
    <p>First name:    {{myInfoCtrl.myinfo.personalData.fname}}</p>
    <p>Last  name:    {{myInfoCtrl.myinfo.personalData.lname}}</p>
    <p>Email Address: {{myInfoCtrl.myinfo.personalData.email}}</p>
    <p>Phone Number:  {{myInfoCtrl.myinfo.personalData.phone}}</p>

    <h2>Favorite dish</h2>
    <div class="media">
      <div class="media-left">
        <img class="media-object" ng-src="{{myInfoCtrl.apipath}}/images/{{myInfoCtrl.myinfo.personalData.shortName}}.jpg" alt="{{myInfoCtrl.myinfo.personalData.shortName}}">
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{myInfoCtrl.myinfo.menu.short_name}} - {{myInfoCtrl.myinfo.menu.name}}</h4>
      {{myInfoCtrl.myinfo.menu.description}}
    </div>
  </div>

</div>


